<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
      <thead>
        <td>Title</td>
        <td>Url</td>
      </thead>

  <tbody>
    <% @links.each do |link| %>
    <div class="link row clearfix"
      <h2>
        <%= link_to link.title, link %>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
      </h2>

      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link_to 'Show', link %></td>
        <% if current_user == link.user %>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
