<% @links.each do |link| %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link %>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago 
          by <%= link.user.email %></small>
      </h2>

    </div>
    
    <div class="btn-group" role="group"  aria-label="Links">
      <%= link_to "Visit Link", link.url, class: "btn btn-secondary btn-sm" %>

      <%= form_for [link, Vote.new], :remote => true do |f| %>
        <%= f.hidden_field :link_id, :value => link.id %>        
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :vote_value, :value => "1" %>
        <%= button_tag(class: "btn btn-secondary btn-sm", id: "upvoter-#{link.id}") do %>
         <span class="fa fa-chevron-up"></span>
         Upvote
         <%= content_tag(:span, link.upvotes(), id: "upvotes-#{link.id}") %>
        <% end %>      

      <% end %>
      
      <%= form_for [link, Vote.new], :remote => true do |f| %>
        <%= f.hidden_field :link_id, :value => link.id %>        
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :vote_value, :value => "-1" %>

        <%= button_tag(class: "btn btn-secondary btn-sm", id: "downvoter-#{link.id}") do %>
         <span class="fa fa-chevron-down"></span>
         Downvote
         <%= content_tag(:span, link.downvotes(), id: "downvotes-#{link.id}") %>         
        <% end %>
      <% end %>
    
    </div>

<% end %>


<br>
<div class="btn-group mt-3" role="group" aria-label="New link">
  <%= link_to 'New Link', new_link_path, class: "btn btn-primary btn-md" %>
</div>
